.root {
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.root_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root:hover {
  cursor: pointer;
}

.root_design_default:hover {
    background: #009cf3;
}

.root_design_primary:hover {
  background: #ffd166;
}

.root_design_caution:hover {
  background-color: #e82c2f;
  box-shadow: 0 2px 8px rgba(232, 44, 47, 0.7);
}

@media (max-width: 768px) {
    .root {
      width: 100%;
    }
}