.root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 80%;
    margin: auto;
}

@media (max-width: 800px) {
    .root {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
@media (max-width: 500px) {
    .root {
      grid-template-columns: 1fr;
    }
}