/* Size modifiers */
.root_size_s {
    width: 14px;
    height: 14px;
  }
  
  .root_size_m {
    width: 20px;
    height: 20px;
  }
  
  .root_size_l {
    width: 30px;
    height: 30px;
  }

  .root_size_xl {
    width: 60px;
    height: 60px;
  }

  .root_size_xxl {
    width: 90px;
    height: 90px;
  }