* {
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
